@value colors: '../../../styles/variables.scss';
@value lightGrey from colors;

.mapContainer {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.content {
  max-width: 160px;
  color: lightGrey;
  text-align: center;
  p:nth-child(1) {
    font-size: 0.85em;
    font-weight: bold;
  }
  p:nth-child(2) {
    font-size: 0.7em;
  }
}
